<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RateBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RateBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wwwcie.ups.com/webservices/Rate" binding="basicHttpBinding"
                bindingConfiguration="RateBinding" contract="RateService.RatePortType"
                name="RatePort" />
        </client>
    </system.serviceModel>
</configuration>